""" All the configurations goes here """
import logging

INPUT = {
    "word_threshold": 20,
    "tag_threshold": 10,
    "base_path": "../../data/stat/",
    "path": "../../data/stat/bayes.model"
}

CLASSIFIER = {
    "retrain_model": True,
    "beta" : 0.5,
    "train_count": 300000,
    "test_count": 1000,
}

LOGGER = {
    "name": "BayesianLogger",
    "log_file": "logs/bayesian.log",
    "format": "%(asctime)s %(levelname)s %(message)s",
    "level": logging.DEBUG
}
