import pymongo

DB = {
    "server": "localhost",
    "port": 27017,

    "database": "stack",
    "collection": "questions",

    "indices": [
        ("tag", pymongo.ASCENDING),
        ("id", pymongo.DESCENDING)
     ]
}

INPUT_FILE = {
    "input": "../data/Content/stackoverflow/sample.xml",
    "stop_words": "stopwords.txt",
    "stat_dir": "stat",
    "record_start": 0,
    "record_end": 500000
}

