import pymongo

DB = {
    "server": "localhost",
    "port": 27017,

    "database": "stack",
    "collection": {
        "questions": "questions",
        "tags": "tags",
        "words": "words",
        "vectors": "vectors",
    },

    "indices": [
        ("id", pymongo.DESCENDING)
     ]
}

INPUT_FILE = {
    "input": "../data/Content/stackoverflow/posts.xml",
    "stop_words": "stopwords.txt",
    "stat_dir": "stat",
    "record_start": 0,
    "record_end": 50000,
    "record_tag": "row"
}

