import pymongo

DB = {
    "server": "localhost",
    "port": 27017,

    "database": "stack",
    "collection": {
        "questions": "questions",
        "tags": "tags",
        "words": "words",
        "vectors": "vectors",
    },

    "indices": {
        "questions": [("id", pymongo.DESCENDING)],
        "tags": [("id", pymongo.DESCENDING)],
        "words": [("id", pymongo.DESCENDING),
                  ("count", pymongo.DESCENDING)],
        "vectors": [("id", pymongo.DESCENDING)],
     },

    "erase_existing_data": False
}

INPUT_FILE = {
    "input": "../data/Content/stackoverflow/posts.xml",
    "stop_words": "stopwords.txt",
    "record_start": 160001,
    "record_count": 10000,
    "record_tag": "row"
}

OUTPUT_FILE = {
    "stat_dir": "stat",
    "word_filter": {},
    "tag_filter": {}
    # "word_filter": {"count": {"$gt": 5}},
    # "tag_filter": {"count": {"$gt": 3}}
}
